.discount {
  &__container {
    position: relative;
    background-color: var(--container-color);
    padding: 2rem 1.5rem;
    border-radius: 0.75rem;
  }

  &__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--m-0-75);
  }

  &__description {
    margin-bottom: var(--m-1);
  }

  &__img {
    width: 300px;
    position: absolute;
    top: 4rem;
    right: -11rem;
  }

  /* Medium devices */
  @media screen and (min-width: 576px) {
    &__container {
      grid-template-columns: repeat(2, 1fr);
      justify-content: center;
      align-items: center;
    }

    &__img {
      position: initial;
    }
  }

  /* Large devices */
  @media screen and (min-width: 767px) {
    &__container {
      grid-template-columns: 250px max-content;
      justify-content: center;
      column-gap: 5rem;
      padding: 3rem;
    }

    &__title {
      font-size: var(--h2-font-size);
      margin-bottom: var(--m-1);
    }

    &__description {
      margin-bottom: var(--m-2);
    }
  }
}
