.sponsor {
  &__container {
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
    row-gap: 5rem;
    justify-items: center;
    align-items: center;
  }

  &__img {
    width: 90px;
  }

  a:nth-of-type(3) {
    margin-top: 1rem;
  }

  /* Extralarge devices */
  @media screen and (min-width: 1024px) {
    &__img {
      width: 175px;
    }

    a:nth-of-type(3) {
      margin-top: 1.5rem;
    }
  }
}
