.case {
  &__container {
    position: relative;
    grid-template-columns: repeat(2, 1fr);
  }

  &__data {
    padding: 5rem 0 3rem;
  }

  &__img {
    width: 250px;
    position: absolute;
    left: -7rem;
  }

  &__description {
    margin-bottom: var(--m-1-5);
    line-height: var(--text-line-height);
  }

  /* Small devices */
  @media screen and (max-width: 340px) {
    &__container {
      grid-template-columns: 0.6fr 1fr;
    }

    &__data {
      padding: 0;
    }

    &__img {
      width: 220px;
      top: -2rem;
      left: -9rem;
    }
  }

  /* Medium devices */
  @media screen and (min-width: 576px) {
    &__container {
      grid-template-columns: max-content 250px;
      justify-content: center;
      align-items: center;
      column-gap: 2rem;
    }

    &__img {
      position: initial;
    }

    &__data {
      padding: 0;
    }
  }

  /* Large devices */
  @media screen and (min-width: 767px) {
    &__container {
      column-gap: 5rem;
    }

    &__img {
      width: 300px;
    }

    &__description {
      margin-bottom: var(--m-2);
    }
  }
}
